@import 'components/color';

$primary-color: color("blue-grey", "lighten-1");
$secondary-color: color("pink", "accent-4");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

[data-ember-action] {
  cursor: pointer;
}
