<h2>Pipelines</h2>
<div class="row">
  <div class="col s12">
    {{#each model as |pipeline|}}
      {{#md-card title=pipeline.title}}
	{{#md-card-content}}
	  {{pipeline.description}}
	{{/md-card-content}}
	{{#md-card-action}}
	  {{#link-to 'pipelines'}}Edit{{/link-to}}
	  <a {{action 'delete' pipeline}}>Delete</a>
	{{/md-card-action}}
      {{/md-card}}
    {{/each}}
    {{#md-card class="action-panel center-align" bodyClass="white-text"}}
      {{#md-card-content}}
	{{#link-to 'pipelines.new'}}<i class="medium material-icons">add</i>{{/link-to}}
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>
