<h3>New pipeline</h3>
<div class="row">
  <form class="col s12">
    <div class="row">
      {{md-input value=model.title label='Title' class="col s12 m6"}}
    </div>
    <div class="row">
      {{md-textarea value=model.description label='Description' class="col s12 m6"}}
    </div>
    <div class="row">
      {{md-btn text='Save' action='save'}}
      {{md-btn text='Cancel' action='cancel'}}
    </div>
  </form>
</div>
