<h2>New pipeline</h2>

<div class="row">
  <form class="col s12">
    <div class="row">
      {{md-input value=model.title label='Title' class="col s12"}}
    </div>
    <div class="row">
      {{md-textarea value=model.description label='Description' class="col s12"}}
    </div>
    <div class="row">
      {{md-btn text='Next' action='save'}}
      {{md-btn text='Cancel' action='cancel'}}
    </div>
  </form>
</div>
