<h4>Steps</h4>

<div class="row">
  <div class="col s12">
    {{#each model as |step|}}
      {{#md-card title=step.title}}
	{{md-badge text=step.code}}
	{{#md-card-content}}
	  {{step.description}}
	{{/md-card-content}}
	{{#md-card-action}}
	  <a {{action 'delete' step}}>Delete</a>
	{{/md-card-action}}
      {{/md-card}}
    {{/each}}
    {{#md-card class="action-panel center-align" bodyClass="white-text"}}
      {{#md-card-content}}
	{{#link-to 'pipelines.steps.new'}}<i class="medium material-icons">add</i>{{/link-to}}
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>

