<div class="navbar-fixed">
  {{#md-navbar name='BDE Pipeline Builder' homeRoute='application'}}
    {{#link-to 'pipelines.index' tagName='li'}}
      {{link-to 'Pipelines' 'pipelines.index'}}
    {{/link-to}}
  {{/md-navbar}}
</div>

<div class="row">
  <div class="col s12">
    {{outlet}}
  </div>
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
